@inject IIdentificationDocumentRepository IdentificationDocumentRepository
@inject IClientIdentificationRepository ClientIdentificationRepository
@model jpfc.Models.ClientViewModels.CreateClientReceiptViewModel

@{
    if (Model.ClientReceiptId > 0)
    {
        ViewData["Title"] = "Edit Receipt";
    }
    else
    {
        ViewData["Title"] = "Add Receipt";
    }
}

@section Styles{
    <link href="~/lib/DataTables/DataTables-1.10.18/css/dataTables.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/DataTables/Buttons-1.5.6/css/buttons.bootstrap4.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
    <link href="~/lib/spin/spin.css" rel="stylesheet" />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/receipt.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Admin" asp-action="Index">Home</a></li>
                <li><a asp-controller="Client" asp-action="Index">Clients</a></li>
                <li><a asp-controller="Client" asp-action="EditClient" asp-route-id="@Model.ClientId">Client</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Services Section Three-->
<section class="mt-5 mb-5" id="content-container">
    <div class="auto-container">
        <!-- Sec Title -->
        <div class="sec-title centered">
            @*<div class="title">New Price</div>*@
            <h2>@ViewData["Title"]</h2>
        </div>
        <form method="post" id="add-receipt-form" autocomplete="off">
            <input asp-for="ClientId" />
            <input asp-for="ClientReceiptId" />
            <div class="row clearfix">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row clearfix">
                        <div class="col-12">
                            <h5>System Fields</h5>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="Date" class="font-weight-bold"></label>
                                <div class="input-group mb-3">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text"><i class="fa fa-calendar"></i></span>
                                    </div>
                                    <input asp-for="Date" class="form-control" type="text" readonly asp-format="{0:MM/dd/yyyy}" />
                                </div>
                                <span asp-validation-for="Date" class="text-danger"></span>
                            </div>
                        </div>
                        @if (Model.ClientReceiptId > 0)
                        {
                            <div class="col-12">
                                <div class="form-group">
                                    <label asp-for="ReceiptNumber" class="font-weight-bold"></label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fa fa-hashtag"></i></span>
                                        </div>
                                        <input asp-for="ReceiptNumber" class="form-control" readonly />
                                    </div>
                                    <span asp-validation-for="ReceiptNumber" class="text-danger"></span>
                                </div>
                            </div>
                        }
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="row clearfix">
                        <div class="col-12">
                            <h5>Identification Details</h5>
                        </div>
                    </div>
                    <div class="row clearfix">
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="ClientIdentificationId" class="font-weight-bold"></label> <span class="text-danger">*</span>
                                <select asp-for="ClientIdentificationId" class="form-control"
                                        asp-items="@(new SelectList(await ClientIdentificationRepository.ListClientIdentificationByClientIdAsync(Model.ClientId), "ClientIdentificationId", "DisplayValue"))">
                                    <option value="">-- Select Id --</option>
                                </select>
                                <span asp-validation-for="ClientIdentificationId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <b>OR <br /> (add a new identification)</b>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="IdentificationDocumentId" class="font-weight-bold"></label> <span class="text-danger">*</span>
                                <select asp-for="IdentificationDocumentId" class="form-control"
                                        asp-items="@(new SelectList(await IdentificationDocumentRepository.ListIdentificationDocumentsAsync(), "IdentificationDocumentId", "Name"))">
                                    <option value="">-- Select Id Type --</option>
                                </select>
                                <span asp-validation-for="IdentificationDocumentId" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label asp-for="IdentificationDocumentNumber" class="font-weight-bold"></label> <span class="text-danger">*</span>
                                <input asp-for="IdentificationDocumentNumber" class="form-control" />
                                <span asp-validation-for="IdentificationDocumentNumber" class="text-danger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix">
                <div class="col-12">
                    <button type="submit" class="btn btn-primary" id="btn-save-client-receipt">Save <i class="fa fa-spin fa-spinner" style="display: none;"></i></button>
                    <a class="btn btn-warning" asp-controller="Client" asp-action="EditClient" asp-route-id="@Model.ClientId">Back</a>
                </div>
            </div>
        </form>

        @if (Model.ClientReceiptId > 0)
        {
            <!-- Sec Title -->
            <div class="sec-title centered">
                <div class="title"><hr />Belongings <hr /></div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#belonging-modal">
                        <i class="fa fa-plus"></i> Add belonging
                    </button>
                    <button type="button" id="btn-print-receipt" class="btn btn-success">
                        <i class="fa fa-file-pdf-o"></i> Download Receipt <i id="receipt-loading-spinner" class="fa fa-spinner fa-spin" style="display: none;"></i>
                    </button>
                </div>
            </div>

            <div class="row clearfix mt-3">
                <div class="col-12">
                    <div class="alert alert-info">
                        <div class="row">
                            <div class="col-12">
                                <h5>Summary <i class="fa fa-spinner fa-spin" id="summary-loading-spinner" style="display: none;"></i></h5>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-md-4">
                                <label class="font-weight-bold">Client Pays:</label> <span class="text-success" id="client-pays-amount"></span>
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="font-weight-bold">Client Gets:</label> <span class="text-danger" id="client-gets-amount"></span>
                            </div>
                            <div class="col-12 col-md-4">
                                <label class="font-weight-bold">Total:</label> <span id="total-amount"></span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <span class="font-weight-bold" id="summary-blurb"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row clearfix mt-3">
                <div class="col-12">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover" id="belonging-table">
                            <thead>
                                <tr>
                                    <th width="250px">Metal/Item</th>
                                    <th width="150px">Purity/Brand</th>
                                    <th width="100px">Weight (gms)</th>
                                    <th width="150px">Item Price (per gm)</th>
                                    <th>Final Price [Replacement Value]</th>
                                    <th width="100px"></th>
                                </tr>
                            </thead>
                            <tbody>
                                @* dataTable ajax *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        }
    </div>
</section>


@* page modals *@
<div class="modal fade" id="belonging-modal" tabindex="-1" role="dialog" aria-labelledby="belonging-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <partial name="~/Views/Client/_ClientBelongingPartial.cshtml" model="Model.ClientBelongingViewModel" />
    </div>
</div>


@section Scripts{
    <script src="~/lib/moment/moment.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.18/js/jquery.dataTables.js"></script>
    <script src="~/lib/DataTables/DataTables-1.10.18/js/dataTables.bootstrap4.js"></script>
    <script src="~/lib/DataTables/Plug-ins/datatable-moment.js"></script>
    <script src="~/lib/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/lib/sweetalert/sweetalert2.js"></script>
    <script src="~/lib/spin/spin.js" asp-append-version="true"></script>

    <script src="~/js/pages/client-receipt.js" asp-append-version="true"></script>
    <script>
        var vm = {};

        $(document).ready(function () {
            Jpfc.ClientReceipt.init(vm);
        });
    </script>
}