@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Contact";
}

@section MetaTags{
    <meta name="keywords" content="j p finance chase, best finance solution, ways to invest money, cheap insurance, cheap gold price, buy gold" />
    <meta name="description" content="Since 1989, we have been creating financial solutions for canadian families to achieve financial freedom, be mortgage free, unique investment strategies, improve cash flow & create healthy net worth." />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/contact-us-min.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>Contact us</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Home" asp-action="Index">Home</a></li>
                <li>Contact us</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!-- Contact Page Section -->
<section class="contact-page-section">
    <div class="auto-container">
        <div class="inner-container">
            <h2>Contact us today</h2>
            <div class="row clearfix">

                <!-- Info Column -->
                <div class="info-column col-lg-12 col-md-12 col-sm-12">
                    <div class="inner-column">
                        <div class="text">
                            Please contact us using the information below.
                            For additional information, view our <strong><a asp-controller="Services" asp-action="Index">Services</a></strong>.
                        </div>
                        @{
                            var query = WebUtility.UrlEncode(ContactInfoOptions.Value.RawAddress);
                        }
                        <ul class="list-style-five">
                            <li><span class="icon fa fa-user"></span> Hansal Pandya <span class="small">(B. Eng, MBA, PFP, LLQP)</span></li>
                            <li>
                                <span class="icon flaticon-map-1"></span> @Html.Raw(ContactInfoOptions.Value.Address)
                                <br /><a href="https://www.google.com/maps/search/?api=1&query=@query" target="_blank">view on map <i class="fa fa-external-link"></i></a>
                            </li>
                            <li><span class="icon flaticon-clock"></span> @Html.Raw(ContactInfoOptions.Value.Hours)</li>
                            <li><span class="icon flaticon-phone-receiver"></span> <a href="tel:@ContactInfoOptions.Value.Phone">@ContactInfoOptions.Value.Phone</a></li>
                            <li><span class="icon flaticon-email"></span> <a href="mailto:@ContactInfoOptions.Value.Email">@ContactInfoOptions.Value.Email</a></li>
                            <li><span class="icon flaticon-calendar"></span> <a href="@ContactInfoOptions.Value.AppointmentLink" target="_blank">Book an appointment</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Team Page Section -->