@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Credit Cards";
}

@section Styles{
    <link href="~/lib/fancybox/jquery.fancybox.min.css" rel="stylesheet" />
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/banner-images/credit-cards.jpg)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 d-none d-md-block">
                <aside class="sidebar default-sidebar">

                    <!--Blog Category Widget-->
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            <li><a asp-controller="Services" asp-action="Loan">Pawn Precious Things</a></li>
                            <li><a asp-controller="Services" asp-action="BuySellGold">Trade Precious Metal Bullion</a></li>
                            <li><a asp-controller="Services" asp-action="Mortgage">Mortgage</a></li>
                            <li><a asp-controller="Services" asp-action="HAInsurance">Home &amp; Auto Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="LifeInsurance">Life Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="PersonalLoan">Personal Loan</a></li>
                            <li class="active"><a asp-controller="Services" asp-action="CreditCards">Credit Cards</a></li>
                            <li><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></li>
                        </ul>
                    </div>

                    <!-- Contact Widget-->
                    <div class="sidebar-widget contact-widget">
                        <div class="sidebar-title">
                            <h4>Contact</h4>
                        </div>
                        <ul>
                            <li><span class="icon flaticon-map-1"></span> @Html.Raw(ContactInfoOptions.Value.Address)</li>
                            <li><span class="icon flaticon-clock"></span> @Html.Raw(ContactInfoOptions.Value.Hours)</li>
                            <li><span class="icon flaticon-phone-receiver"></span> <a href="tel:@ContactInfoOptions.Value.Phone">@ContactInfoOptions.Value.Phone</a></li>
                            <li><span class="icon flaticon-email"></span> <a href="mailto:@ContactInfoOptions.Value.Email">@ContactInfoOptions.Value.Email</a></li>
                            <li><span class="icon flaticon-calendar"></span> <a href="@ContactInfoOptions.Value.AppointmentLink" target="_blank">Book an appointment</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>Credit Card</h4>
                    <!--Services Info Tabs-->
                    <div class="Services-info-tabs">
                        <!--Service Tabs-->
                        <div class="service-tabs tabs-box">
                            <!--Tab Btns-->
                            <ul class="tab-btns tab-buttons clearfix">
                                <li data-tab="#mastercard" class="tab-btn active-btn">MasterCard</li>
                                @*<li data-tab="#visa" class="tab-btn">Visa</li>*@
                            </ul>
                            <!--Tabs Container-->
                            <div class="tabs-content">
                                <!--Tab / Active Tab-->
                                <div class="tab active-tab" id="mastercard">
                                    <div class="content">
                                        <!-- Services Gallery -->
                                        <div class="services-gallery">
                                            <div class="services-carousel owl-carousel owl-theme">
                                                <div class="slide">
                                                    <div class="image">
                                                        <img src="~/images/mastercard-logo.png" alt="">
                                                    </div>
                                                </div>
                                                <div class="slide">
                                                    <div class="image">
                                                        <img src="~/images/mastercard-verico.png" alt="">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="list-style-four">
                                            <li>Interest as low as 9.90%</li>
                                            <li>Student MasterCard is available</li>
                                            <li>Visit following links for more information</li>
                                        </ul>

                                        <ul class="ml-3 list-style-one">
                                            <li>
                                                <a class="image" href="~/images/cc-grid.png">View product lineup</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <!--Tab-->
                                @*<div class="tab" id="visa">
                                        <div class="content">
                                            <div class="text">
                                                <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudan tium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. </p>
                                                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequun tur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                            </div>
                                        </div>
                                    </div>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End Sidebar Page Container-->

@section Scripts{
    <script src="~/lib/fancybox/jquery.fancybox.min.js"></script>
    <script src="~/js/pages/services-creditcards.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            Jpfc.ServicesCreditCards.init();
        });
    </script>
}