@using jpfc.ConfigOptions
@using Microsoft.Extensions.Options
@inject IOptions<ContactInfoOptions> ContactInfoOptions
@{
    ViewData["Title"] = "Personal Loan";
}

<!--Page Title-->
<section class="page-title" style="background-image:url(../../images/watch.png)">
    <div class="auto-container">
        <div class="content">
            <h1>@ViewData["Title"]</h1>
            <ul class="page-breadcrumb">
                <li><a asp-controller="Services" asp-action="Index">Services</a></li>
                <li>@ViewData["Title"]</li>
            </ul>
        </div>
    </div>
</section>
<!--End Page Title-->
<!--Sidebar Page Container-->
<div class="sidebar-page-container">
    <div class="auto-container">
        <div class="row clearfix">

            <!--Sidebar Side-->
            <div class="sidebar-side col-lg-4 col-md-4 col-sm-12 d-none d-md-block">
                <aside class="sidebar default-sidebar">

                    <!--Blog Category Widget-->
                    <div class="sidebar-widget sidebar-blog-category">
                        <ul class="blog-cat">
                            <li><a asp-controller="Services" asp-action="Loan">Pawn Precious Things</a></li>
                            <li><a asp-controller="Services" asp-action="BuySellGold">Trade Precious Metal Bullion</a></li>
                            <li><a asp-controller="Services" asp-action="Mortgage">Mortgage</a></li>
                            <li><a asp-controller="Services" asp-action="HAInsurance">Home &amp; Auto Insurance</a></li>
                            <li><a asp-controller="Services" asp-action="LifeInsurance">Life Insurance</a></li>
                            <li class="active"><a asp-controller="Services" asp-action="PersonalLoan">Personal Loan</a></li>
                            <li><a asp-controller="Services" asp-action="CreditCards">Credit Cards</a></li>
                            <li><a asp-controller="Services" asp-action="FinancePlanning">Investment &amp; Financial Planning</a></li>
                        </ul>
                    </div>

                    <!-- Contact Widget-->
                    <div class="sidebar-widget contact-widget">
                        <div class="sidebar-title">
                            <h4>Contact</h4>
                        </div>
                        <ul>
                            <li><span class="icon flaticon-map-1"></span> @Html.Raw(ContactInfoOptions.Value.Address)</li>
                            <li><span class="icon flaticon-clock"></span> @Html.Raw(ContactInfoOptions.Value.Hours)</li>
                            <li><span class="icon flaticon-phone-receiver"></span> <a href="tel:@ContactInfoOptions.Value.Phone">@ContactInfoOptions.Value.Phone</a></li>
                            <li><span class="icon flaticon-email"></span> <a href="mailto:@ContactInfoOptions.Value.Email">@ContactInfoOptions.Value.Email</a></li>
                            <li><span class="icon flaticon-calendar"></span> <a href="@ContactInfoOptions.Value.AppointmentLink" target="_blank">Book an appointment</a></li>
                        </ul>
                    </div>
                </aside>
            </div>

            <!--Content Side-->
            <div class="content-side col-lg-8 col-md-8 col-sm-12">
                <div class="services-single">
                    <h4>@ViewData["Title"]</h4>
                    <div class="text">
                        <p>We offer unsecured loan upto $35,000 CAD</p>
                    </div>
                    <ul class="list-style-four">
                        <li>
                            <a href="javascript:void(0)" target="_blank">Click here <i class="fa fa-external-link"></i></a> for fast approval
                        </li>
                    </ul>

                    <!-- Services Gallery -->
                    @*<div class="services-gallery">
                            <div class="services-carousel owl-carousel owl-theme">
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/rolex.jpg" alt="">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/precious-metal.jpg" alt="">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/jewel_loanpower.png" alt="">
                                    </div>
                                </div>
                                <div class="slide">
                                    <div class="image">
                                        <img src="~/images/jewels.png" alt="">
                                    </div>
                                </div>
                            </div>
                        </div>*@
                </div>
            </div>

        </div>
    </div>
</div>
<!--End Sidebar Page Container-->